.tp-winner .tp-submission {
    animation: rainbow-bg 3s linear infinite;
    background: none;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255, 128, 128);
    }
    8%{
        background-color: rgb(255, 189, 128);
    }
    16%{
        background-color: rgb(255, 255, 128);
    }
    25%{
        background-color: rgb(191, 255, 128);
    }
    33%{
        background-color: rgb(128, 255, 128);
    }
    41%{
        background-color: rgb(128, 255, 189);
    }
    50%{
        background-color: rgb(128, 255, 255);
    }
    58%{
        background-color: rgb(128, 191, 255);
    }
    66%{
        background-color: rgb(128, 128, 255);
    }
    75%{
        background-color: rgb(189, 128, 255);
    }
    83%{
        background-color: rgb(255, 128, 255);
    }
    91%{
        background-color: rgb(255, 128, 191);
    }
}

.tp-black-card-container {
    position: relative;
    width: 8em !important;
    height: 13em !important;

    margin-top: 0 !important;
}

.tp-black-card-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    padding: 0.5em;
}

.tp-cah-card {
    transform-origin: 50% 50%;

    font-size: 14px !important;
    margin-right: 0.25em;

    cursor: default;
    width: 9.5em !important;
    height: 15em !important;

    font-family: 'Roboto', sans-serif !important;
    padding-bottom: 1em;

    border-radius: .6em;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    -khtml-border-radius: .6em;

    font-weight: bolder;

    -moz-box-shadow: .3em .3em .5em #00000050;
    -webkit-box-shadow: .3em .3em .5em #00000050;
    box-shadow: .3em .3em .5em #00000050;

    position: relative;
}

.tp-card-overlay-special-effects {
    font-size: 0.85em;
    position: absolute;
    width: 100%;
    bottom: 0.75em;
    right: 0.75em;
    text-align: right;
}

.tp-card-cards-icon {
    width: 2em;
    margin-right: 0.35em;
    vertical-align: middle;
}

.tp-card-overlay-pack {
    font-size: 0.6em;
    position: absolute;
    width: 100%;
    bottom: 0.75em;
    left: 0.75em;
    text-align: left;
}

.tp-white-card {
    border: 1px solid #333;
    background: linear-gradient(175deg, rgba(255, 255, 255,1) 0%, rgba(203,203,203,1) 100%)
}

.tp-hand {
    margin-top: 6em;
}

.tp-hand .tp-hand-card {
    margin-top: -6em;
}

.tp-submission.tp-submission-2 {
    width: 50%;
}

.tp-submission.tp-submission-3 {
    width: 33%;
}

.tp-hand.disabled .tp-hand-card {
    opacity: 25%;
}

.tp-submission-blank.blank {
    opacity: 0;
}

.tp-hand {
    width: 95% !important;
}

.tp-hand-card.tp-hand-card-selected {
    cursor: default !important;
    opacity: 0.25;
}

.tp-game-info-spacer {
    width: 3em;
    display: inline-block;
}

.tp-hand .tp-hand-card, .tp-submission, .tp-submission-blank {
    max-width: 50vw;
    cursor: pointer;

    display: inline-block;
    color: #090d10;
    padding: 0.5em;

    vertical-align: middle;
    position:relative;
}

.tp-black-card {
    background: #010101;
    display: inline-block;
    color: #ececee;
    padding: 0.5em;

    border: 1px solid #000;
    vertical-align: middle;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tp-black-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tp-black-card-back h2 {
    margin-left: 0.5em;
}

.tp-players-component {
    overflow-y: hidden;
    overflow-x: auto;
    border: 2px solid #03151d;
    background:
            linear-gradient(180deg, rgba(12, 61, 97, 0.8) 0%, rgba(9, 46, 73, 0.95) 100%),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2380bfff' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    padding: 0.25em;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 100%;
}

.tp-player-container {
    width: 80px;
    height: 80px;
    position: relative;
    cursor: default;
    border-radius: 15%;
    overflow: hidden;
}

.tp-player-container img {
    display: block;
    width: 100%;
    height: auto;
    overflow-y: hidden;
}

.tp-name-overlay {
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    font-size: 1em;
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    text-align: center;
}

.tp-score-overlay {
    font-family: 'Fredoka One', cursive;
    position: absolute;
    line-height: 1;
    font-size: 24pt;
    width: 100%;
    bottom: 0;
    right: 5px;
    text-align: right;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.tp-vip-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 5px;
    color: gold;
    -webkit-text-fill-color: #FFD700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tp-czar-overlay {
    position: absolute;
    left: 5px;
    top: 35%;
    text-align: center;
    color: white;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tp-submission-cross {
    font-size: x-large;
    color: red;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.tp-tap-to-remove {
    font-style: italic;
    font-size: small;
    text-align: right;
    position: absolute;
    bottom: 0.5em;
    width: 87%;
    color: #777777;
}

.tp-player-inactive {
    opacity: 30%;
}

.tp-round-display-component {
    width: 100vw;
    height: 16.25em;
    margin-left: -1em;
    position: sticky;
    top: 0;
    z-index: 50;

    /* background texture */
    background-color: #115180;
    /*background-color: #80bfff;*/
    background-image:
                      linear-gradient(to bottom,
                      rgb(24, 90, 140),
                      rgba(255, 255, 255, 0)
                      100%),

                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2380bfff' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    outline: 2px solid black;

    padding: 1.6em 0.25em 0.25em 0.25em;
}

.tp-black-card-display-area-component {
    width: 16em !important;
    margin-left: 0;
}

.tp-my-submission-component {
    width: 100%;
}

.tp-pick-number {
    border-radius: 50%;
    background: #ececee;
    display: inline-block;
    color: #010101;
    width: 1.5em;
    text-align: center;
    margin-left: 0.35em;
}

.tp-winner-display-component {
    width: 100%;
    text-align: center;
}

.tp-winner-image {
    border-radius: 15%;
    width: 9em;
}

.tp-player-submission-1 {
    width: 10em;
    display: inline-block;
}

.tp-player-submission-2 {
    width: 20em;
    display: inline-block;
}

.tp-player-submission-3 {
    width: 30em;
    display: inline-block;
}

.tp-white-card-image {
    width: 100%;
    border-radius: 5%;
}

.tp-room {
    cursor: pointer;
    padding: 1em;
    display: inline-block;
    max-width: 50vw;
    min-width: 18em;
    height: 8em;
    color: #2e2e2e;
    border: 1px solid black;
    background: linear-gradient(175deg, rgba(255, 255, 255,1) 0%, rgba(203,203,203,1) 100%);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.tp-room h1, .tp-room h2, .tp-room h3, .tp-room h4, .tp-room h5 {
    color: #2e2e2e;
}

.tp-lobby h2 {
    text-align: center;
    width: 100%;
}

.tp-lobby h4 {
    text-align: center;
    width: 100%;
}

.tp-submit-button {
}

.breathing {
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.tp-czar-name-component {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0.25em;
    text-align: center;
    width: 100%;
}

.tp-confirm-answer-dialog-button-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin: calc(var(--lumo-space-l) * -1);
    margin-top: var(--lumo-space-l);
    padding: 0 var(--lumo-space-l);
    background-color: var(--lumo-contrast-5pct);
}

.tp-winner-header {
    margin: 0;
    text-align: center;
    width: 100%;
}